body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.section_1 {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

.header_links {
  list-style: none;
  display: flex;
  gap: 18px;
}

.header_links a,
.s1_text p {
  color: #e5e7eb;
  font-size: 18px;
}

.s1_text {
  max-width: 450px;
}

.header_links a {
  text-decoration: none;
}

.s1_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 0;
  flex-grow: 0;
}

.s1_container img {
  width: 600px;
  height: 320px;
}

.s1_text h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
}
